<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.mall.board.serviceImpl.boardMapper">
	<sql id="searchOption">
		<if test="searchStartDate != ''.toString() and searchStartDate != null and searchEndDate != ''.toString() and searchEndDate != null">
		AND date_format(B.input_dt,'%Y-%m-%d') BETWEEN #{searchStartDate} AND #{searchEndDate}
		
		</if>
		<if test="searchTitle != ''.toString() and searchTitle != null">
			AND B.title LIKE CONCAT('%',TRIM(#{searchTitle}),'%')
		</if>
		<if test="searchId != ''.toString() and searchId != null">
			AND B.title LIKE CONCAT('%',TRIM(#{searchId}),'%')
		</if>
		
		<!-- <if test="searchOutingStat != ''.toString() and searchOutingStat != null">
			AND RRI.OUTING_STAT = #{searchOutingStat} 
		</if> -->
		
		
		
		<!-- 개별제출확인 신청 및 진행현황 페이지-->
		<!-- <if test="PAGE=='status'">
		AND RRI.OUTING_STAT IN ('RG5401','RG5402','RG5481','RG5403','RG5412','RG5413','RG5482')
		</if> -->
		
		<!-- 개별제출확인 완료 내역 페이지-->
		<!-- <if test="PAGE=='complete'">
 			AND RRI.OUTING_STAT IN ('RG5405')
		</if> -->
	</sql>
	
	<!-- 게시판 목록 -->
	<select id="selectBoardList" parameterType="java.util.HashMap"
		resultType="java.util.HashMap">
	<include refid="com.mall.common.commonMapper.pagingHeaderSql"/>
 	SELECT @rownum:=@rownum+1 ROWNUM
 	,B.B_NO
		,B.id
		,B.title
		,B.content
		,B.cnt
		<!-- ,(SELECT date_format(input_dt,'%Y-%m-%d') FROM board WHERE no=B.B_NO) input_dt
		,(SELECT date_format(input_dt,'%H:%m:%s') FROM board WHERE no=B.B_NO) input_h -->
        ,IF(date_format(NOW(),'%Y-%m-%d')=date_format(input_dt,'%Y-%m-%d'),(SELECT date_format(input_dt,'%H:%m:%s') FROM board WHERE B_NO=B.B_NO),(SELECT date_format(input_dt,'%Y-%m-%d') FROM board WHERE B_NO=B.B_NO)) input_dt
		FROM board B,(SELECT @rownum:=0) R
		where B.B_NO>0
		<include refid="searchOption"/>
		ORDER BY B.B_NO DESC
	<include refid="com.mall.common.commonMapper.pagingFooterSql"/>
	</select>
	
	<select id="selectBoardListCnt" parameterType="map"
		resultType="Integer">
			SELECT COUNT(1) CNT
		FROM (
			SELECT B.B_NO
			,B.input_dt
		
		FROM board B
		WHERE B.B_NO>0
		<include refid="searchOption"/>
		) B
	</select>
	
	<select id="selectBoardMaxNo" parameterType="map"
		resultType="Integer">
			SELECT max(B_NO) FROM board
	</select>
	
	<select id="selectBoardDetail" parameterType="map"
		resultType="map">
		select 
		<!-- (SELECT COALESCE(MAX(no),0)+1 FROM board) no -->
		B.B_NO
		,B.id
		,B.title
		,B.content
		,B.cnt
		,B.input_dt
		,B.updt_dt
		from board B
		where B.B_NO=#{no,jdbcType=VARCHAR}

	</select>
	
	<update id="updateCnt" parameterType="map">
		update board
		set cnt = cnt+1
		where B_NO=#{no,jdbcType=VARCHAR}
	</update>
	
	<insert id="insertBoard" parameterType="map">
	<selectKey resultType="int" keyProperty="no" order="BEFORE">
		SELECT COALESCE(MAX(B_NO),0)+1 AS B_NO FROM board
	</selectKey>
		insert board(
		B_NO
		,id
		,title
		,content
		,input_dt
		) values(
		#{B_NO}
		,#{id,jdbcType=VARCHAR}
		,#{title,jdbcType=VARCHAR}
		,#{content,jdbcType=VARCHAR}
		,NOW()
		)
	</insert>
	
	
	<update id="mergeBoard" parameterType="map">
   	  INSERT INTO board(
	   	  B_NO
			,id
			,TITLE
			,content
			,updt_dt
		) VALUES(
			#{no, jdbcType=VARCHAR}
			, #{id, jdbcType=VARCHAR}
			, #{title, jdbcType=VARCHAR}
			, #{content, jdbcType=VARCHAR}
			, NOW()
		)
		ON DUPLICATE KEY UPDATE
		B_NO = #{no, jdbcType=VARCHAR}
		, id = #{id, jdbcType=VARCHAR}
		, TITLE = #{title, jdbcType=VARCHAR}
		, content = #{content, jdbcType=VARCHAR}
		, updt_dt = NOW()
	</update>
	
	<update id="deleteBoard" parameterType="map">
   	  delete from board where B_NO=#{no,jdbcType=VARCHAR}
	</update>
	
	
	<insert id="insertHisBoard" parameterType="map">
	<selectKey resultType="int" keyProperty="HIS_ID" order="BEFORE">
		SELECT COALESCE(MAX(HIS_ID),0)+1 AS HIS_ID FROM board_h
		where B_NO=#{no, jdbcType=VARCHAR}
	</selectKey>
		insert into board_h(
		HIS_ID
		,B_NO
		,id
		,title
		,content
		,input_dt
		,updt_dt
		,cnt
		)
		select
		#{HIS_ID,jdbcType=VARCHAR}
		,B_NO
		,id
		,title
		,content
		,input_dt
		,updt_dt
		,cnt
		from board where B_NO=#{no, jdbcType=VARCHAR}
	</insert>
	
	<!-- 게시판 목록 -->
	<select id="selectContent" parameterType="java.util.HashMap"
		resultType="java.util.HashMap">
 	SELECT 
 		B.TITLE
 		,B.B_NO
		FROM board B
		WHERE B.B_NO=#{contentNo}
		ORDER BY B.B_NO
	</select>
	
	
	<!-- 이력 업데이트 -->
	<update id="updateHis" parameterType="map">
		<!-- pdate board_h
		set DEL_YN=#{DEL_YN,jdbcType=VARCHAR}
		where no=#{no,jdbcType=VARCHAR} -->
	</update>
	
	<!-- 이력 -->
	<select id="selectBoardHisList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	 	SELECT
	    B_NO
	    ,TITLE
		 FROM
		    board
		 WHERE
		  B_NO IN (
		    (SELECT B_NO FROM board WHERE B_NO <![CDATA[<]]> #{no} ORDER BY B_NO DESC LIMIT 1),
		    (SELECT B_NO FROM board WHERE B_NO <![CDATA[>]]> #{no} ORDER BY B_NO LIMIT 1)
		   )
	</select>
	
	
</mapper>