<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.mall.login.serviceImpl.loginMapper">
	
	<insert id="insertMember" parameterType="map">
		insert into member(
		ID
		,PW
		,NAME
		,ADDRESS
		,CONTACT
		,PHONE
		,EMAIL
		,INPUT_DT
		)
		values(
		#{ID,jdbcType=VARCHAR}
		,#{PW,jdbcType=VARCHAR}
		,#{NAME,jdbcType=VARCHAR}
		,#{ADDRESS,jdbcType=VARCHAR}
		,#{CONTACT,jdbcType=VARCHAR}
		,#{PHONE,jdbcType=VARCHAR}
		,#{EMAIL,jdbcType=VARCHAR}
		,NOW()
		)
	</insert>
	
	<insert id="insertMemberHis" parameterType="map">
	<selectKey resultType="int" keyProperty="HIS_ID" order="BEFORE">
		SELECT COALESCE(MAX(HIS_ID),0)+1 AS HIS_ID FROM member_h
		where ID=#{ID, jdbcType=VARCHAR}
	</selectKey>
		insert into member_h(
		HIS_ID
		,ID
		,PW
		,NAME
		,ADDRESS
		,CONTACT
		,PHONE
		,EMAIL
		,INPUT_DT
		)
		select
		#{HIS_ID,jdbcType=VARCHAR}
		,ID
		,PW
		,NAME
		,ADDRESS
		,CONTACT
		,PHONE
		,EMAIL
		,INPUT_DT
		from member where ID=#{ID, jdbcType=VARCHAR}
	</insert>
	
	
	<select id="memberLogin" parameterType="map"
		resultType="Integer">
		SELECT COUNT(1) CNT
			FROM member
			WHERE ID=TRIM(#{ID, jdbcType=VARCHAR}) and PW=TRIM(#{PW, jdbcType=VARCHAR})
	</select>
</mapper>